.home-bg {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;

    background: linear-gradient(
        90deg,
        rgba(0,0,0,0.75) 0%,
        rgba(0,0,0,0.55) 35%,
        rgba(0,0,0,0.15) 100%
    );

    display: flex;
    align-items: center;
}

.hero-content {
    color: white;
    max-width: 650px;
    margin-left: 8%;
}

.hero-tag {
    display: inline-block;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
}

.hero-content p {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #f1f1f1;
}


.feature-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-8px);
}

.slider {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}

.slide-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.slide-track img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.stats-section {
    background: #fff3e0;
    padding: 70px 0;
}

.stats-section h2 {
    color: #ff6b00;
    font-weight: 800;
}